doctype html(lang='en')
head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='viewport', content='width=device-width, initial-scale=1')
   
  meta(name='description', content='')
   
  meta(name='author', content='')
   
  link(rel='icon', href='../../favicon.ico')
   
  title Wine

  link(href='./bootstrap/css/bootstrap.min.css', rel='stylesheet')
  link(href='./css/col-height.css', rel='stylesheet')
   
body
  .container
    each entry in data
      .col-md-3
        img(src='./wine_gallery/'+entry.src+'l.jpg')
        a(href='/wine?id='+entry._id)
          h3=entry.name
        p=entry.place
        p=entry.price

  script(src='./js/jquery.min.js')
   
  script(src='./bootstrap/js/bootstrap.min.js')
