html(lang="en")
	head
		meta(charset="utf-8")
		title 爱迪星（北京）科技有限公司 [演示案例]
		meta(name="description", content="二维码 防伪 物流 防窜货 PUF 物理 复制")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(rel="shortcut icon", href="images/favicon.ico")
		link(href="bootstrap/css/bootstrap.css", rel="stylesheet")
		link(href="fonts/font-awesome/css/font-awesome.css" rel="stylesheet")
		link(href="css/animations.css", rel="stylesheet")
		link(href="css/style.css", rel="stylesheet")

body
	